.rt-circle-number
  position: relative;
  width: 120px
  height: 120px

.rt-circle-number-small
  width: 80px
  height: 80px

.rt-circle-number-svg
  position: absolute;
  top: 0
  left: 0
  pointer-events none

.rt-circle-number-svg__line
  animation 2s showCircle linear
  stroke-dashoffset 0
  stroke-dasharray 400
  .rt-circle-number-small &
    stroke-dasharray 300
    animation 2s showCircleSmall linear

.rt-circle-number-conent
  width: 120px
  height: 120px
  position: relative

.rt-circle-number-small
  .rt-circle-number-conent
    width: 80px
    height: 80px
    position: relative

.rt-circle-number-svg__circle
  animation 0.5s showCircleRound linear

@keyframes showCircleRound
  0%
    opacity 0
  100%
    opacity 1
@keyframes showCircle
  0%
    stroke-dashoffset 400
    stroke-dasharray 400
  25%
    stroke-dashoffset 400
    stroke-dasharray 400
  100%
    stroke-dashoffset 0
    stroke-dasharray 400

@keyframes showCircleSmall
  0%
    stroke-dashoffset 300
    stroke-dasharray 300
  25%
    stroke-dashoffset 300
    stroke-dasharray 300
  100%
    stroke-dashoffset 0
    stroke-dasharray 200
