
.{newAppName}-annotation
  &+&
    border-top 2px solid b2c-cool-grey05-no-opacity

.{newAppName}-annotation__arrow
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property fill
  fill main-color

  .{newAppName}-annotation--white-color,
  .{newAppName}-dark-theme &
    fill b2c-white

.{newAppName}-annotation__title
  display inline-block
  padding-left 20px
  position relative
  cursor pointer

  .{newAppName}-annotation--is-open > &
    text-decoration none

.{newAppName}-annotation__arrow
  position absolute
  top .5em
  left 0
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property transform

  .{newAppName}-annotation--white-color &
    fill rgba(#ffffff, .5)

  .{newAppName}-annotation--is-open > .{newAppName}-annotation__title &
    transform rotate(180deg)

.{newAppName}-annotation__content
  max-height 0
  overflow hidden
  color main-color
  padding-top 0
  padding-left horizontal-space
  position relative
  transition-timing-function cubic-bezier(10, 2, .9, .65)
  transition-duration .3s
  transition-property max-height, padding

  .{newAppName}-dark-theme &
    color b2c-white

  .{newAppName}-annotation--white-color
    color b2c-white05

  .{newAppName}-annotation--is-open > &
    padding-top 10px

.{newAppName}-annotation-item
  padding-top horizontal-space * .5
  font-size 12px
  line-height 16px
  color main-color
  .{newAppName}-dark-theme &
    color b2c-white07

.{newAppName}-annotation-v2
  padding 20px 0
  &__title
    padding-left 36px
    transition color .2s linear
    display inline-block
    //.{newAppName}-annotation--is-open &
    //  color b2c-orange
    //  .{newAppName}-annotation__arrow
    //    fill b2c-orange
    //@media (hover: hover)
    //  &:hover
    //    color b2c-orange
    //    .{newAppName}-annotation__arrow
    //      fill b2c-orange
  .{newAppName}-annotation__arrow
    left 6px
    transition fill .2s linear, transform .2s linear
  .{newAppName}-annotation__content
    padding-left 36px
  &.{newAppName}-annotation--is-open
    .{newAppName}-annotation__content
      padding-top 20px
  &--small-gap
    .rt-annotation-v2__title
      padding-left 32px
  &--reversed
    .rt-annotation-v2__title
      padding-left 0
      padding-right 36px
    &.rt-annotation-v2--small-gap
      .rt-annotation-v2__title
        padding-right 32px
    .{newAppName}-annotation__arrow
      left auto
      right 6px
    .rt-annotation__content
      padding-left 0

.rt-annotation--is-open > .rt-annotation-v2__title
  .rt-annotation__arrow
    transform rotate(-180deg)

colors = {color--black-main: main-color b2c-orange-low b2c-white},
        {color--black-additional: main-color b2c-purple-button-hover b2c-white},
        {color--orange: b2c-orange b2c-orange-low b2c-orange-night},
        {color--purple: b2c-purple b2c-purple-button-hover b2c-purple-night},
        {color--grey: main-color07-no-opacity b2c-black085-no-opacity b2c-white05}

.rt-annotation-v2__title
  for item in colors
    key = keys(item)
    value = values(item)
    &.{key}
      color value[0]
      .rt-annotation__arrow
        fill value[0]
      .rt-dark-theme &
        color value[2]
        .rt-annotation__arrow
          fill value[2]
      &:hover
        color value[1]
        .rt-annotation__arrow
          fill value[1]
