.{newAppName}-button
  height 52px
  box-sizing border-box
  font-size 16px
  text-align center
  text-transform none
  border-radius 4px
  margin 0
  padding-left 28px
  padding-right 28px
  cursor pointer
  display: inline-block
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, border, text-shadow, color, opacity
  .ripple
    padding-left: 28px
    padding-right: 28px
  &[disabled]
    cursor default

  &--is-fitched
    color transparent !important

  &--is-block
    display block
    min-width 100%
  &-td--is-block
    @media (max-width: tablet-upper-limit)
      display block
      min-width 100%
  &-md--is-block
    @media (max-width: mobile-upper-limit)
      display block
      min-width 100%
  .ripple-wave
    background-color default-wive-color

  &-with-ripple
    overflow hidden
    padding-left 0
    padding-right 0

  & + &
    margin-left horizontal-space

  &-vertical
    display table

    & + &
      margin-top vertical-space
      margin-left 0

  &-small
    height 36px
    font-size 14px

    .ripple
      padding 0 20px!important

  &-md-small
    @media (max-width: 767px)
      height 34px
      font-size 14px

  &:before
    display none
    opacity 0

  &-orange
    color #fff
    background-color b2c-orange

    &:hover
      @media (hover: hover)
        background-color b2c-orange-button-hover
    &:active
      background-color b2c-orange-button-active

    &[disabled]
      color main-color05
      background-color main-color005

      .{newAppName}-dark-theme &
        color b2c-white05
        background-color b2c-white005

    .ripple-wave
      background-color b2c-white
  &-gray
    background-color transparent
    border 2px solid main-color003-no-opacity

    &:hover
      @media (hover: hover)
        background-color main-color005
        .{newAppName}-dark-theme &
          background-color hsl(rgba(b2c-white, .05))
    &:active
      background-color main-color01
      .{newAppName}-dark-theme &
        background-color hsl(rgba(b2c-white, .1))

    &[disabled]
      color main-color05
      border-color hsl(rgba(main-color, .1))
      &:hover
        @media (hover: hover)
          background-color: transparent

      .{newAppName}-dark-theme &
        background-color: transparent
        color b2c-white05
        border-color b2c-white01
        &:hover
          @media (hover: hover)
            background-color transparent

    .ripple-wave
      background-color main-color05
      .{newAppName}-dark-theme &
        background-color hsl(rgba(b2c-white, .5))

  &-orange-border
    border 2px solid b2c-orange

    &:hover
      @media (hover: hover)
        background-color rgba(b2c-orange, .05)
        .{newAppName}-dark-theme &
          background-color rgba(b2c-orange, .2)

    &:active
      background-color rgba(b2c-orange, .1)
      .{newAppName}-dark-theme &
        background-color rgba(b2c-orange, .4)

    &[disabled]

      color main-color05
      border-color main-color01
      background-color: transparent

      .{newAppName}-dark-theme &
        color b2c-white05
        border-color b2c-white01
        background-color: transparent


    .ripple-wave
      background-color b2c-orange-low
      .{newAppName}-dark-theme &
        background-color main-color



  &-white
    border 2px solid white

    &:hover
      @media (hover: hover)
        background-color b2c-cool-grey05
        opacity .7

      .{newAppName}-dark-theme &
        background-color b2c-white01

    &:active
      background-color transparent

    &[disabled]
      color main-color05
      background-color: transparent
      opacity: 1
      .{newAppName}-dark-theme &
        color b2c-white05
        border-color b2c-white01
        background-color: transparent

      &:hover
        @media (hover: hover)
          background-color transparent


      .ripple-wave
        background-color b2c-cool-grey

  &-full-white
    background-color: white
    color #000000
    .ripple-wave
      background-color b2c-white
    &:hover
      @media (hover: hover)
        background-color hsl(rgba(main-color, .05))

      .{newAppName}-dark-theme &
        background-color main-color003-no-opacity

    &:active
      background-color hsl(rgba(main-color, .1))
      .{newAppName}-dark-theme &
        background-color main-color03-no-opacity





    &[disabled]
      color main-color01
      background-color: transparent

      &:hover
        @media (hover: hover)
          background-color transparent

  &-purple
    color #fff
    background-color b2c-purple

    &:hover
      @media (hover: hover)
        background-color b2c-purple-button-hover
    &:active
      background-color b2c-purple-button-active
    &[disabled]
      color main-color05
      background-color main-color005

      .{newAppName}-dark-theme &
        color b2c-white05
        background-color b2c-white005

    .ripple-wave
      background-color b2c-white

  &-purple-border
    background-color transparent
    border 2px solid b2c-purple

  &-purple-border,
  &-transparent-purple



    &:hover
      @media (hover: hover)
        background-color hsl(rgba(b2c-purple, .05))
        .{newAppName}-dark-theme &
          background-color hsl(rgba(b2c-purple, .2))

    &:active
      background-color hsl(rgba(b2c-purple, .1))
      .{newAppName}-dark-theme &
        background-color hsl(rgba(b2c-purple, .4))
    .ripple-wave
      background-color b2c-purple-low
      .{newAppName}-dark-theme &
        background-color main-color

    &[disabled]
      color main-color05
      border-color main-color01
      background-color: transparent
      .{newAppName}-dark-theme &
        color b2c-white05
        border-color b2c-white01





  &-transparent
    border 2px solid transparent

    &:hover
      @media (hover: hover)
        background-color hsl(rgba(main-color, .05))

      .{newAppName}-dark-theme &
        background-color hsl(rgba(b2c-white, .05))

    &:active
      background-color hsl(rgba(main-color, .1))
      .{newAppName}-dark-theme &
        background-color hsl(rgba(b2c-white, .1))

    &[disabled]
      color hsl(rgba(main-color, .5))
      background-color transparent



      &:hover
        @media (hover: hover)
          background-color transparent

      .{newAppName}-dark-theme &
        color hsl(rgba(b2c-white, .5))

      .ripple-wave
        background-color b2c-cool-grey
  &--as-tag
      border-radius 10px
      background-color: b2c-purple-high
      padding-top: 3px
      padding-bottom: 3px
      padding-right: 10px
      padding-left: 10px
      color: white
      height: auto
      font-size 12px
      width: auto
      min-width auto
      .ripple
        width:auto
        padding: 0
    &--td-as-text
      @media (max-width: tablet-upper-limit)
        background-color: transparent
        color b2c-purple-high
        padding: 0

  &-cool-grey-border
    border 2px solid b2c-cool-grey

    &:hover
      @media (hover: hover)
        background-color b2c-cool-grey05
        opacity .7

      .{newAppName}-dark-theme &
        background-color b2c-white01



  &-transparent-purple
    color b2c-purple

.fake-radiobutton-for-button
  display none

.original-text
  display inline

.checked-text
  display none

.{newAppName}-button__icon
  width: 22px

