.{newAppName}-button
  display inline-block
  height 52px
  box-sizing border-box
  font-size 16px
  text-align center
  text-transform none
  border-radius 4px
  margin 0
  padding-left 28px
  padding-right 28px
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, border, text-shadow, color, opacity

  .ripple
    padding-left 28px
    padding-right 28px

  &[disabled]
    cursor default
  .rt-n-banner &
    @media (max-width 767px)
      height 36px
      font-size 14px

.{newAppName}-button + .{newAppName}-button
  margin-left horizontal-space

.{newAppName}-button-vertical
    display table
    & + &
      margin-top vertical-space
      margin-left 0

.{newAppName}-button--is-fitched
  color transparent !important

.{newAppName}-button--is-block
  display block
  min-width 100%

.{newAppName}-button-td--is-block
  @media (max-width tablet-upper-limit)
    display block
    min-width 100%

.{newAppName}-button-md--is-block
  @media (max-width mobile-upper-limit)
    display block
    min-width 100%

.ripple-wave
  background-color default-wive-color

.{newAppName}-button-with-ripple
  overflow hidden
  padding-left 0
  padding-right 0

.{newAppName}-button-small
  height 36px
  font-size 14px

  .ripple
    padding 0 20px !important

.{newAppName}-button-md-small
  @media (max-width 767px)
    height 34px
    font-size 14px

  &:before
    display none
    opacity 0

.{newAppName}-button-orange
  color #fff
  background-color b2c-orange

  &:hover
    @media (hover hover)
      background-color b2c-orange-button-hover

  &:active
    background-color b2c-orange-button-active

  &[disabled]
    color main-color05
    background-color main-color005

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      background-color b2c-white005

  .ripple-wave
    background-color b2c-white

.{newAppName}-button-gray
  background-color transparent
  border 2px solid main-color003-no-opacity
  color main-color
  .{newAppName}-dark-theme &,
  &.{newAppName}-button-bright
    color b2c-white
  &:hover
    @media (hover hover)
      background-color main-color005

      .{newAppName}-dark-theme &,
      &.{newAppName}-button-bright
        background-color hsl(rgba(b2c-white, .05))

  &:active
    background-color main-color01

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color hsl(rgba(b2c-white, .1))

  &[disabled]
    color main-color05
    border-color hsl(rgba(main-color, .1))

    &:hover
      @media (hover hover)
        background-color transparent

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      background-color transparent
      border-color b2c-white01

      &:hover
        @media (hover hover)
          background-color transparent

  .ripple-wave
    background-color main-color05

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color hsl(rgba(b2c-white, .5))

.{newAppName}-button-white
  background-color transparent
  border 2px solid main-color003-no-opacity
  color b2c-white
  &:hover
    @media (hover hover)
      background-color hsl(rgba(b2c-white, .05))

  &:active
    background-color hsl(rgba(b2c-white, .1))

  &[disabled]
    color b2c-white05
    background-color transparent
    border-color b2c-white01

    &:hover
      @media (hover hover)
        background-color transparent

  .ripple-wave
    background-color hsl(rgba(b2c-white, .5))


.{newAppName}-button-orange-border
  border 2px solid b2c-orange
  color main-color
  .{newAppName}-dark-theme &,
  &.{newAppName}-button-bright
    color b2c-white
  &:hover
    @media (hover hover)
      background-color rgba(b2c-orange, .05)

      .{newAppName}-dark-theme &,
      &.{newAppName}-button-bright
        background-color rgba(b2c-orange, .2)

  &:active
    background-color rgba(b2c-orange, .1)

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color rgba(b2c-orange, .4)

  &[disabled]
    color main-color05
    background-color transparent
    border-color main-color01

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      background-color transparent
      border-color b2c-white01

  .ripple-wave
    background-color b2c-orange-low

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color main-color

.{newAppName}-button-white
  border 2px solid white

  &:hover
    @media (hover hover)
      background-color b2c-cool-grey05
      opacity .7

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color b2c-white01

  &:active
    background-color transparent

  &[disabled]
    color main-color05
    background-color transparent
    opacity 1

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      background-color transparent
      border-color b2c-white01

    &:hover
      @media (hover hover)
        background-color transparent

    .ripple-wave
      background-color b2c-cool-grey


.{newAppName}-button-full-white
  color main-color
  background-color white

  .ripple-wave
    background-color b2c-white

  &:hover
    @media (hover hover)
      background-color hsl(rgba(main-color, .05))

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright

      @media (hover hover)
        background-color main-color003-no-opacity

  &:active
    background-color hsl(rgba(main-color, .1))

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color main-color03-no-opacity

  &[disabled]
    color b2c-white05
    background-color b2c-white005

    &:hover
      @media (hover hover)
        background-color b2c-white005

.{newAppName}-button-purple
  color #fff
  background-color b2c-purple

  &:hover
    @media (hover hover)
      background-color b2c-purple-button-hover

  &:active
    background-color b2c-purple-button-active

  &[disabled]
    color main-color05
    background-color main-color005

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      background-color b2c-white005

  .ripple-wave
    background-color b2c-white

.{newAppName}-button-purple-border
  color main-color
  background-color transparent
  border 2px solid b2c-purple
  .{newAppName}-dark-theme &
  &.{newAppName}-button-bright
    color b2c-white


.{newAppName}-button-purple-border,
.{newAppName}-button-transparent-purple
  &:hover
    @media (hover hover)
      background-color hsl(rgba(b2c-purple, .05))

      .{newAppName}-dark-theme &,
      &.{newAppName}-button-bright
        background-color hsl(rgba(b2c-purple, .2))

  &:active
    background-color hsl(rgba(b2c-purple, .1))

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color hsl(rgba(b2c-purple, .4))

  .ripple-wave
    background-color b2c-purple-low

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color main-color

  &[disabled]
    color main-color05
    background-color transparent
    border-color main-color01

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color b2c-white05
      border-color b2c-white01
      @media (hover hover)
        &:hover
          background-color transparent

.{newAppName}-button-transparent
  border 2px solid transparent
  background-color: transparent
  color main-color
  .{newAppName}-dark-theme &,
  &.{newAppName}-button-bright
    color b2c-white
  &:hover
    @media (hover hover)
      background-color hsl(rgba(main-color, .05))

      .{newAppName}-dark-theme &,
      &.{newAppName}-button-bright
        background-color hsl(rgba(b2c-white, .05))

  &:active
    background-color hsl(rgba(main-color, .1))

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      background-color hsl(rgba(b2c-white, .1))
  .ripple-wave
    background-color hsl(rgba(main-color, .8))
  &[disabled]
    color hsl(rgba(main-color, .5))
    background-color transparent

    &:hover
      @media (hover hover)
        background-color transparent

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      color hsl(rgba(b2c-white, .4))

    .ripple-wave
      background-color b2c-cool-grey

.{newAppName}-button--as-tag
  width auto
  min-width auto
  height auto
  color white
  font-size 12px
  background-color b2c-purple-high
  border-radius 10px
  padding-top 3px
  padding-bottom 3px
  padding-left 10px
  padding-right 10px

  .ripple
    width auto
    padding 0

.{newAppName}-button--td-as-text
  @media (max-width tablet-upper-limit)
    color b2c-purple-high
    background-color transparent
    padding 0

.{newAppName}-button-cool-grey-border
  border 2px solid b2c-cool-grey

  &:hover
    @media (hover hover)
      background-color b2c-cool-grey05
      opacity .7

    .{newAppName}-dark-theme &,
    &.{newAppName}-button-bright
      @media (hover hover)
        background-color b2c-white01

.{newAppName}-button-transparent-purple
  color b2c-purple

.fake-radiobutton-for-button
  display none

.original-text
  display inline

.checked-text
  display none

.{newAppName}-button__icon
  width 22px
