
.rt-calendar
  width 100%

  & .rt-calendar__cmp
    padding 0 0 2px

  &__wrap
    box-sizing border-box
    display inline-block
    padding-top 22px
    position relative
    width 100%
    height 49px

  &__input
    background transparent
    border none
    color: main-color
    cursor pointer
    outline none
    width 100%
    z-index 21

.{newAppName}-dark-theme
  .rt-calendar__input
    color #fff

.mx
  &-date-row
    .cell
      text-align center

  &-calendar-icon,
  &-icon-calendar
    display none

