.checkbox
  display inline-block
  position relative
  position relative
  cursor pointer
  user-select none
  user-select none
.checkbox-element
  width 0
  height 0
  border-width 0
  outline none
  opacity 0
  position absolute

.checkbox-container
  padding-left 29px
  position relative
  user-select none
  &:before
    content ""
    width 20px
    height 20px
    box-sizing border-box
    background-color b2c-white
    border 2px solid b2c-cool-grey
    border-radius 4px
    position absolute
    top 0
    left 0
    z-index 2
    transition-timing-function cubic-bezier(.11, .34, .97, .33)
    transition-duration .3s
    transition-property background, border

    .{newAppName}-dark-theme &
      background-color transparent
  @media (hover: hover)
    &:hover
      &:before
        background-color: hsl(rgba(b2c-purple, .05))
  &:active
    &:before
      background-color: hsl(rgba(b2c-purple, .1))


.checkbox-container__angle
  width 12px
  height 10px
  opacity 0
  visibility hidden
  position absolute
  top 5.5px
  left 4.5px
  z-index 3
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property stroke, opacity, visibility, stroke-dashoffset, stroke-dasharray
  stroke b2c-purple
  stroke-dashoffset 100px
  stroke-dasharray 20px
  path
    fill hsl(rgba(main-color, 1))


  .{newAppName}-dark-theme &
    stroke b2c-orange



.checkbox-element:focus+checkbox-container:before,
.checkbox:hover &:before
  border-color b2c-purple

  .{newAppName}-dark-theme &
    border-color b2c-orange

.checkbox-element:checked+.checkbox-container
  &:before
    border-color b2c-purple
  .checkbox-container__angle
    opacity 1
    visibility visible
    stroke-dashoffset 80px


.checkbox-element[disabled]+.checkbox-container
  cursor default

  &:before
    border-color hsl(rgba(main-color, .05))
    background-color: transparent

  color b2c-cool-grey
  .checkbox-container__angle
    path
      fill hsl(rgba(main-color, .1))

  &:before
    opacity 1
    visibility visible

  .checkbox-container__angle
    visibility visible
    stroke main-color

  .{newAppName}-dark-theme &
    .checkbox-container__angle
      opacity .4
      visibility visible
      stroke main-color


.invalid .checkbox-container
  &:before
    border-color error-color
    .{newAppName}-dark-theme &
      border-color error-color
  &:hover
    &:before
      border-color error-color
      background-color: hsl(rgba(error-color, .2))
