colors = readJsonKeys('../../../color.json')

renderColorClass(classname, var, media)
  if media == 'desktop'
    .{classname}
      color lookup(var)
    .{replace(classname, 'color-','dark-theme-color-')}
      .{newAppName}-dark-theme &
        color lookup(var)
  if media == 'extra-large'
    @media (min-width: large-desktop-lower-limit)
      .{replace(classname, 'color-','color-xd-')}
        color lookup(var)
      .{replace(classname, 'color-','dark-theme-color-xd-')}
        .{newAppName}-dark-theme &
          color lookup(var)
  if media == 'tablet'
    @media (max-width: tablet-upper-limit)
      .{replace(classname, 'color-','color-td-')}
        color lookup(var)
      .{replace(classname, 'color-','dark-theme-color-td-')}
        .{newAppName}-dark-theme &
          color lookup(var)
  if media == 'mobile'
    @media (max-width: mobile-upper-limit)
      .{replace(classname, 'color-','color-md-')}
        color lookup(var)
      .{replace(classname, 'color-','dark-theme-color-md-')}
        .{newAppName}-dark-theme &
          color lookup(var)

renderHoverColorClass(classname, var)
        .{classname}
            &:hover
              color lookup(var)

renderFocusColorClass(classname, var)
  .{classname}
    &:focus
      color lookup(var)
for $type in ('desktop' 'extra-large' 'tablet' 'mobile')
  for $i in colors
    if search($i,'b2c')   >= 0
      className = 'color-'+replace($i,'b2c-','')
      renderColorClass(className, $i, $type)

    else
      if search($i,'main-') == 0
        className = 'color-'+replace($i,'-color','')
        renderColorClass(className, $i, $type)

@media (hover: hover)
  for $i in colors
    if search($i,'b2c')   >= 0
      className = 'color-'+replace($i,'b2c-','')
      renderHoverColorClass('h-'+className, $i)


    else
      if search($i,'main-') == 0
        className = 'color-'+replace($i,'-color','')
        renderHoverColorClass('h-'className, $i)

for $i in colors
  if search($i,'b2c')   >= 0
    className = 'color-'+replace($i,'b2c-','')
    renderFocusColorClass('f-'+className, $i)
  else
    if search($i,'main-') == 0
      className = 'color-'+replace($i,'-color','')
      renderFocusColorClass('f-'+className, $i)

.color-animate
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property color

.color-error
  color error-color

.color-main-md-white
  color main-color
  @media(max-width mobile-upper-limit)
    color b2c-white

.color-white-md-main
  color b2c-white
  @media(max-width mobile-upper-limit)
    color main-color

