.{b2bAppName}-hint
  display inline-block
  border-radius 50%
  margin-left 6px
  position relative
  z-index 9
  vertical-align middle
  cursor pointer
  &__icon
    width 20px
    height 20px
    position absolute
    right 10px
  &__text
    box-sizing border-box
    color main-color
    text-align left
    padding 20px
    position fixed
    top auto
    bottom auto
    right auto
    left auto
    z-index 999
    transform translateY(-50%)
    font-size 14px
    line-height 18px
    box-shadow 0 5px 10px 5px rgba(main-color, 0.2)
    background-color b2c-white
    .rtb-hint__text-triangle
      content ""
      width 0
      height 0
      border-style solid
      position absolute
      top auto
      left auto
      right auto
      bottom auto
    &--top
      transform translateX(calc(-50% + 10px)) translateY(calc(-100% - 10px))
      -ms-transform translateX(-50%) translateX(10px) translateY(-100%) translateY(-10px)
      @media (max-width: mobile-upper-limit)
        transform translateX(0) translateY(calc(-100% - 10px))
        -ms-transform translateX(0) translateY(-100%) translateY(-10px))
      .rtb-hint__text-triangle
        border-width 10px 10px 0 10px
        border-style solid
        border-color #fff transparent transparent transparent
        position absolute
        bottom -9px
        right calc(50% - 10px)
    &--bottom
      transform translateX(calc(-50% + 10px)) translateY(30px)
      -ms-transform translateX(-50%) translateX(10px) translateY(30px)
      @media (max-width: mobile-upper-limit)
        transform translateX(0) translateY(30px)
      .rtb-hint__text-triangle
        border-width 0 10px 10px 10px
        border-style solid
        border-color transparent transparent #fff transparent
        position absolute
        top -9px
        right calc(50% - 10px)
    &--top-left
      transform translateX(calc(-100% + 40px)) translateY(calc(-100% - 10px))
      -ms-transform translateX(-100%) translateX(40px) translateY(-100%) translateY(-10px)
      .rtb-hint__text-triangle
        border-width 10px 10px 0 10px
        border-style solid
        border-color #fff transparent transparent transparent
        position absolute
        bottom -9px
        right 20px
    &--top-right
      transform translateX(-20px) translateY(calc(-100% - 10px))
      -ms-transform translateX(-20px) translateY(-100%) translateY(-10px)
      .rtb-hint__text-triangle
        border-width 10px 10px 0 10px
        border-style solid
        border-color #fff transparent transparent transparent
        position absolute
        bottom -9px
        left 20px
    &--bottom-left
      transform translateX(calc(-100% + 40px)) translateY(30px)
      -ms-transform translateX(-100%) translateX(40px) translateY(30px)
      .rtb-hint__text-triangle
        border-width 0 10px 10px 10px
        border-style solid
        border-color transparent transparent #fff transparent
        position absolute
        top -9px
        right 20px
    &--bottom-right
      transform translateX(-20px) translateY(30px)
      .rtb-hint__text-triangle
        border-width 0 10px 10px 10px
        border-style solid
        border-color transparent transparent #fff transparent
        position absolute
        top -9px
        left 20px
    &--small
      &.{b2bAppName}-hint__text--top
        transform translateX(calc(-50% + 10px)) translateY(calc(-100% - 10px))
        -ms-transform translateX(-50%) translateX(10px) translateY(-100%) translateY(-10px)
      &.{b2bAppName}-hint__text--bottom
        transform translateX(calc(-50% + 10px)) translateY(30px)
        -ms-transform translateX(-50%) translateX(10px)  translateY(30px)
  &--tooltip
    color main-color
    text-align center
    background-color b2c-cool-grey05-no-opacity
    width 20px
    height 20px
    .{b2bAppName}-hint__text
      background-color b2c-white
  &--confirmed
    .{b2bAppName}-hint__text
      background-color b2c-green
      height 38px
      min-width 230px
      color b2c-white
      left calc(100% + 15px)
      transform translateY(-25%)
      @media (max-width mobile-upper-limit)
        left auto
        right 30px
      &:before
        content ""
        width 0
        height 0
        border-width 5px 5px 5px 0
        border-style solid
        border-color transparent b2c-green transparent transparent
        position absolute
        top calc(50% - 5px)
        left -5px
        @media (max-width mobile-upper-limit)
          left auto
          right -5px
          border-color transparent transparent transparent b2c-green
          border-width 5px 0 5px 5px
  .{b2bAppName}-hint__icon
    right 0
  &--denied
    .{b2bAppName}-hint__text
      background-color error-color
      height 38px
      min-width 230px
      color b2c-white
      left calc(100% + 15px)
      transform translateY(-25%)
      @media (max-width mobile-upper-limit)
        left auto
        right 30px
      &:before
        content ""
        width 0
        height 0
        border-width 5px 5px 5px 0
        border-style solid
        border-color transparent error-color transparent transparent
        position absolute
        top calc(50% - 5px)
        left -5px
        @media (max-width mobile-upper-limit)
          left auto
          right -5px
          border-color transparent transparent transparent error-color
          border-width 5px 0 5px 5px
  .{b2bAppName}-hint__icon
    right 0

  .input + &
    position absolute
    right -30px
    top 14px
    @media (max-width mobile-upper-limit)
      right 0