rt-input-v2,
.rt-input-v2
  position: relative;
  width: 100%


.rt-input-v2__input
  border none
  outline none
  position: relative;
  display: block
  height: 24px
  line-height: 24px
  width: 100%
  border-width 0
  padding 0
  background-color: transparent
  color inherit
  placeholder(color rgba(0,0,0,0), )
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property color
  &[disabled]
    color: main-color03-no-opacity

.rt-input-v2-wrapper
  position: relative
  height: 48px
  font-size 16px
  display: block
  padding-top: 20px
  padding-right: 24px

.rt-input-v2-label
  opacity:0.5

.rt-input-v2__line
  position: absolute;
  width: 100%
  height: 2px
  bottom: -2px
  left: 0
  right: 0
  position: absolute;
  background-color: main-color03-no-opacity
  &:after
    content ''
    width: 0%
    height: 2px
    bottom: 0px
    left: 0
    right: 0
    position: absolute;
    background-color: b2c-purple
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 0.25s
    transition-property width

.rt-input-v2-placeholder
  position: absolute;
  left: 0
  bottom: 12px
  font-size 16px
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property transform, opacity
  transform-origin: left bottom;

.rt-input-v2__input[disabled]+.rt-input-v2-placeholder
  color main-color03-no-opacity


.rt-input-v2__input:focus+.rt-input-v2-placeholder+.rt-input-v2__line:after
  width: 100%

.rt-input-v2__input:focus+.rt-input-v2-placeholder
  transform: scale(0.75) translateY(-18px);
  opacity: 0.8

.rt-input-v2__input:not(:placeholder-shown)+.rt-input-v2-placeholder
  transform: scale(0.75) translateY(-18px);
  opacity: 0.8
.rt-input-v2__input:focus+.rt-input-v2-placeholder
  color: b2c-purple
  opacity: 1

.rt-input-v2-icon
  position: absolute;
  top: 12px
  right: 0

.rt-input-v2-icon-item
  opacity: 0.5
  cursor: pointer
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property opacity
  &:hover
    @media (hover:hover)
      opacity: 1
.rt-input-v2-clear
  cursor: pointer
  opacity: 0
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property opacity

.rt-input-v2__input:not(:placeholder-shown)+.rt-input-v2-placeholder+.rt-input-v2__line+.rt-input-v2-icon .rt-input-v2-clear
  opacity: 1

.rt-input-v2-error
  display: block
  opacity: 0.8
  color error-color
  transform: scale(0)
  transform-origin: left top;
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property transform
.rt-input-v2--error

  .rt-input-v2-error
    transform: scale(1)
  .rt-input-v2__line
  .rt-input-v2__line:after
    background-color: error-color
  .rt-input-v2-placeholder
    color: error-color

