.rt-input-v2
  position relative
  width 100%
  //&:after
  //  position absolute
  //  content ''
  //  height 48px
  //  width 40px
  //  background linear-gradient(to left, b2c-white 0%, b2c-white 50%, rgba(b2c-white, 0) 100%)
  //  top 0
  //  right 0
  //  .rt-dark-theme &
  //    background linear-gradient(to left, main-color 0%, main-color 50%, rgba(main-color, 0) 100%)

  .rt-popover-icon-button
    opacity 1

.rt-input-v2-bright
  color white

.rt-input-v2__input
  border none
  outline none
  position relative
  display: block
  height: 24px
  line-height: 24px
  width: 100%
  border-width 0
  padding 0
  background-color: transparent
  color inherit
  placeholder(color rgba(0,0,0,0), null)
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property color
  &[disabled]
    color main-color03
    .rt-dark-theme &
      color b2c-white03
  &[type="password"]
    letter-spacing 3px

.rt-input-v2-wrapper
  position: relative
  height: 48px
  font-size 16px
  display: block
  padding-top: 20px
  padding-right: 24px

.rt-input-v2-label
  opacity .5
  display block
  padding-top 8px
  position relative
  transform scale(1)
  transition transform .25s cubic-bezier(0.4, 0, 0.2, 1)
  transform-origin left top

.rt-input-v2__line
  position absolute
  width 100%
  height 2px
  bottom -2px
  left 0
  right 0
  background-color main-color01
  transition background-color .2s linear
  &:after,
  &:before
    content ''
    width 0
    height 2px
    bottom 0
    left 0
    right 0
    position absolute
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 0.25s
    transition-property width
  .rt-dark-theme &
    background-color b2c-white01
  &:after
    background-color: b2c-purple
    .rt-dark-theme &
      background-color b2c-purple-night
  &:before
    background-color main-color03
    .rt-dark-theme &
      background-color b2c-white03

.rt-input-v2-placeholder
  position absolute
  left 0
  bottom 10px
  font-size 16px
  color main-color07
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property transform, opacity
  transform-origin left bottom
  white-space nowrap
  overflow hidden
  width 100%
  //&:after
  //  position absolute
  //  content ''
  //  height 100%
  //  width 60px
  //  background linear-gradient(to left, b2c-white 0%, b2c-white 50%, rgba(b2c-white, 0) 100%)
  //  right 0
  .rt-dark-theme &
    color b2c-white07
    //&:after
    //  background linear-gradient(to left, main-color 0%, main-color 50%, rgba(main-color, 0) 100%)

.rt-input-v2__input[disabled]+.rt-input-v2-placeholder
  color main-color03

.rt-dark-theme
  .rt-input-v2__input[disabled]+.rt-input-v2-placeholder
    color b2c-white03

.rt-input-v2__input:focus+.rt-input-v2-placeholder+.rt-input-v2__line:after
  width: 100%

.rt-input-v2__input:focus+.rt-input-v2-placeholder,
.rt-input-v2__input:not(:placeholder-shown)+.rt-input-v2-placeholder
  transform: scale(0.75) translateY(-20px);
  opacity: 0.8
  width 133.33%

.rt-input-v2__input:focus+.rt-input-v2-placeholder
  color: b2c-purple
  opacity: 1
  .rt-dark-theme &
    color b2c-purple-night

.rt-input-v2-icon
  position absolute
  top 12px
  right 0
  display flex
  &__item
    &--verified
      circle
        fill color-success
      path
        fill b2c-white
        opacity 1!important
    &--verification-in-progress
      opacity .5
      animation spinning 3s linear infinite
    &--verified,
    &--not-verified,
    &--verification-in-progress
      cursor text

.rt-input-v2-icon-item
  cursor pointer
  display flex
  z-index 1
  .rt-sys-icon
    opacity: 0.5
    transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration 0.25s
    transition-property opacity, color
  @media (hover:hover)
    &:hover
      .rt-sys-icon
        opacity: 1
  &+&
    margin-left 12px

.rt-input-v2-clear
  cursor pointer
  opacity 0
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property opacity

.rt-input-v2__input:not(:placeholder-shown)+.rt-input-v2-placeholder+.rt-input-v2__line+.rt-input-v2-icon .rt-input-v2-clear
  opacity: 1

.rt-input-v2-error
  display block
  opacity 0.8
  color error-color
  transform scale(0)
  transform-origin left top
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration .25s
  transition-property transform
  position absolute
  padding-top 8px
  .rt-dark-theme &
    color error-color-night

.rt-input-v2--error
  .rt-input-v2-label
    transform scale(0)
    position absolute
    bottom 0
  .rt-input-v2-error
    transform scale(1)
    position relative
  .rt-input-v2__line
    background-color error-color
    .rt-dark-theme &
      background-color error-color-night
    &:after,
    &:before
      display none
  .rt-input-v2__input:focus+.rt-input-v2-placeholder,
  .rt-input-v2__input:not(:placeholder-shown)+.rt-input-v2-placeholder
    color error-color!important
    .rt-dark-theme &
      color error-color-night!important

.input-number-icon.rt-sys-icon
  background-color: main-color01
  border-radius 50%
  transition-timing-function cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration 0.25s
  transition-property background-color, fill
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  .rt-dark-theme &,
  &.input-number-icon-bright
    background-color b2c-white01
  &:hover
    @media (hover:hover)
      background-color: main-color03
      .rt-dark-theme &,
      &.input-number-icon-bright
        background-color b2c-white03

.rt-input-v2:hover
  &:not(.rt-input-v2--disabled)
    .rt-input-v2__line
      &:before
        width 100%

.rt-dark-theme
  .rt-input-v2:hover
    &:not(.rt-input-v2--disabled)
      .rt-input-v2__line
        &:before
          width 100%

.rt-input-v2--disabled
  .rt-input-v2-label
    opacity .3

@keyframes spinning
  0%
    stroke-dashoffset 0
    stroke-dasharray 32
  50%
    stroke-dashoffset -96
    stroke-dasharray 64
  100%
    stroke-dashoffset -192
    stroke-dasharray 32