line,
.line,
hr,
.hr
  height: 2px
  background-color: #fff
  display: block
  background-color: main-color005

.line-top,
.hr-top
  border-top: 2px solid main-color005
.line-bottom,
.hr-bottom
  border-bottom: 2px solid main-color005
.line-pseudo-top,
.hr-pseudo-top
  position: relative;
  &:before
    position: absolute;
    content ''
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 2px
    background-color: main-color005
.line-pseudo-bottom,
.hr-pseudo-bottom
  position: relative;
  &:before
    position: absolute;
    content ''
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 2px
    background-color: main-color005