.rt-price-v2
  display: inline-block
  align-items baseline
  &.rt-price-v2-bright,
  .rt-dark-theme &
    color: b2c-white
  @media (max-width: mobile-upper-limit)
    .rt-font-control
      line-height: 14px


.rt-price-v2__option
  color: main-color07
  .rt-price-v2-bright &,
  .rt-dark-theme &
    color: b2c-white07

.rt-price-n__info
  color: main-color07
  align-self center
  .rt-price-v2-bright &,
  .rt-dark-theme &
    color: b2c-white07
.rt-price-n__info-price
  align-self baseline
.rt-price-v2__info-item+.rt-price-v2__info-item
  margin-top: 8px
  position: relative;
  @media (max-width: mobile-upper-limit)
    margin-top: 2px
  &:before
    content ''
    width: 100%
    height: 1px
    top: -4px
    background-color: main-color07
    position: absolute;
    .rt-price-v2-bright &,
    .rt-dark-theme &
      background-color: b2c-white07
    @media (max-width: mobile-upper-limit)
      top: -1px

.rt-price-v2__old-value
  position: relative;
  color main-color07
  .rt-price-v2-bright &,
  .rt-dark-theme &
    color: b2c-white07
  &:before
    content ''
    width: calc(100%+2px)
    height: 1px
    bottom: 50%
    left: -2px
    background-color: main-color07
    position: absolute;
    .rt-price-v2-bright &,
    .rt-dark-theme &
      background-color: b2c-white07