// New typography (2021)
mobileBp = mobile-upper-limit // 767
tabletBpStart = tablet-lower-limit // 768
tabletBpEnd = tablet-upper-limit // 1024
webSmallBpStart = laptop-lower-limit // 1025
webSmallBpEnd = desktop-upper-limit // 1400
webBp = large-desktop-lower-limit //1401
set-font(fontSize, lineHeight)
  font-size unit(fontSize, 'px')
  line-height unit(lineHeight, 'px')

// For all devices
.font-h1,
.font-h2,
.font-h3,
.font-h4,
.font-h-l,
.font-h-m,
.font-h-s,
.font-h-xs
  font-weight 500
.font-h-s
  set-font(14, 16)
.font-h-xs
  set-font(12, 16)
.font-t-s
  set-font(14, 20)
.font-t-xs
  set-font(12, 16)

// Mobile
@media (max-width mobileBp)
	.font-h1
    set-font(28, 32)
	.font-h2
    set-font(24, 32)
	.font-h3
    set-font(22, 28)
	.font-h4
    set-font(18, 24)
	.font-h-m
    set-font(14, 16)
	.font-t-m
    set-font(14, 20)
	.font-lb
    set-font(12, 16)

// < Tablet
@media (max-width tabletBpEnd)
  .font-h-l
    set-font(16, 20)
  .font-t-l
    set-font(16, 24)

// Tablet
@media (min-width tabletBpStart) and (max-width tabletBpEnd)
  .font-h1
    set-font(36, 44)

// Tablet = Web Small
@media (min-width tabletBpStart) and (max-width webSmallBpEnd)
  .font-h2
    set-font(32, 40)
  .font-h3
    set-font(24, 32)
  .font-h4
    set-font(20, 24)

// > Tablet
@media (min-width tabletBpStart)
  .font-h-m
    set-font(16, 20)
  .font-t-m
    set-font(16, 24)
  .font-lb
    set-font(14, 16)

// Web Small
@media (min-width webSmallBpStart) and (max-width webSmallBpEnd)
  .font-h1
    set-font(44, 52)

// < Web
// @media (max-width webSmallBpEnd)

// Web Small = Web
@media (min-width webSmallBpStart)
  .font-h-l
    set-font(18, 24)
  .font-t-l
    set-font(18, 28)

// Web
@media (min-width webBp)
  .font-h1
    set-font(50, 60)
  .font-h2
    set-font(36, 44)
  .font-h3
    set-font(28, 36)
  .font-h4
    set-font(22, 28)
