$direction_names = 'v' 'h' 't' 'b' 'l' 'r'
$direction_props = (padding-top padding-bottom) (padding-left padding-right) (padding-top) (padding-bottom) (padding-left) (padding-right)
$device_types = 'laptop-upper-limit' ''  'tablet-upper-limit'  'mobile-upper-limit'
$device_types_code = '' 'lg' 'td' 'md'

spaceRender()
  for $device_index in  0 .. 3
    media = ''
    if $device_types_code[$device_index]
      if $device_types_code[$device_index] == 'lg'
        media = '(min-width: '+lookup($device_types[$device_index])+')'
      else
        media = '(max-width: '+lookup($device_types[$device_index])+')'
    classRender()
      for $i in 0 .. 5
        for $j in 0 .. 4
          for $direction in 0 ..5
            if $i == 0 and $j == 0
              className = 'sp-'+$direction_names[$direction]+'-none'
            else
              if $j > 0
                className = 'sp-'+$direction_names[$direction]+'-'+$i+'-'+$j
              else
                className = 'sp-'+$direction_names[$direction]+'-'+$i
            if $device_types_code[$device_index]
              className = $device_types_code[$device_index] + '-' + className

            $space_value = $i*pixel-point*5+$j*pixel-point

            .{className}
              for $opt in $direction_props[$direction]
                {$opt}: $space_value
    if media
      @media media
        classRender()
    else
      classRender()

spaceRender()
