$vertical-direction_adaptive_device = (0 2 3)
$vertical-direction_index = (0 2 3)
$direction_names = 'v' 'h' 't' 'b' 'l' 'r'
$direction_props = (padding-top padding-bottom) (padding-left padding-right) (padding-top) (padding-bottom) (padding-left) (padding-right)
$device_types = 'laptop-upper-limit' 'desktop-lower-limit'  'tablet-upper-limit'  'mobile-upper-limit'
$device_types_code = '' 'lg' 'td' 'md'
vertivalAdaptive = json('../../../space-adaptive-map.json',{ hash: true })


renderProps(className, part_step,$direction)
  .{className}
    for $opt in $direction_props[$direction]
      {$opt} : unit(part_step*4,'px')

adaptiveSpaceRender(name,part_step, device_type)
  className = ''
  className+='sp'
  for i in 0 .. 6
    locClassName = className+''
    locClassName+='-'+$direction_names[i]
    locClassName+='-x'+name
    media = false
    if device_type>0
      media = '(max-width: '+lookup($device_types[$vertical-direction_adaptive_device[device_type]])+')'

    if media
      @media media
        renderProps(locClassName,part_step, i)
    else
      renderProps(locClassName,part_step, i)



sendToAdaptiveSpaceRender(name,value, index)

  part_step = value/4
  adaptiveSpaceRender(name,part_step,index)


for sp in vertivalAdaptive
  line = vertivalAdaptive[sp]
  sendToAdaptiveSpaceRender(parseInt(sp)/4,parseInt(sp), 0)
  for i in line
    sendToAdaptiveSpaceRender(parseInt(sp)/4,parseInt(line[i]), parseInt(i)+1)


spaceRender()
  for $device_index in  0 .. 3
    media = ''
    if $device_types_code[$device_index]
      if $device_types_code[$device_index] == 'lg'
        media = '(min-width: '+lookup($device_types[$device_index])+')'
      else
        media = '(max-width: '+lookup($device_types[$device_index])+')'
    classRender()
      for $i in 0 .. 5
        for $j in 0 .. 4
          for $direction in 0 ..5
            if $i == 0 and $j == 0
              className = 'sp-'+$direction_names[$direction]+'-none'
            else
              if $j > 0
                className = 'sp-'+$direction_names[$direction]+'-'+$i+'-'+$j
              else
                className = 'sp-'+$direction_names[$direction]+'-'+$i
            if $device_types_code[$device_index]
              className = $device_types_code[$device_index] + '-' + className

            $space_value = $i*pixel-point*5+$j*pixel-point

            .{className}
              for $opt in $direction_props[$direction]
                {$opt}: $space_value
    if media
      @media media
        classRender()
    else
      classRender()

spaceRender()
